@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Nova+Cut&family=Open+Sans:wght@400;500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.font1{
  font-family: 'EB Garamond', serif;
}

.font2{
  font-family: 'Open Sans', sans-serif;
}

.font3{
  font-family: 'Nova Cut', cursive;
}

.parent-btn{
  position: relative;
  z-index: 1;
  transition: all .4s linear;
}

.button1{
  padding: 1rem 4rem;
  background:  #543f1c;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  transition: all .2s linear;
}

.button1::after{
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(245, 202, 129);
  position: absolute;
  bottom: 9px;
  left: 9px;
  z-index: -1;
  transition: all .2s linear;
}

.button1:hover:after{
  bottom: -9px;
  left: -9px;
}


.button2{
  padding: 1rem 4rem;
  background:  #543f1c;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  transition: all .2s linear;
}

.button2::after{
  content: "";
  width: 100%;
  height: 100%;
  background: #4F709C;
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: -1;
  transition: all .2s linear;
}

.button2:hover:after{
  top: -9px;
  right: -9px;
}

.button3{
  padding: .8rem 4rem;
  background:  #526D82;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  transition: all .2s linear;
}

.button3::after{
  content: "";
  width: 100%;
  height: 100%;
  background: #9DB2BF;
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: -1;
  transition: all .2s linear;
}

.button3:hover:after{
  top: -8px;
  right: -8px;
}

/* btn 4  */
.button4{
  padding: .4rem 2.3rem;
  background:  #a6803fde;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  transition: all .2s linear;
}

.button4::after{
  content: "";
  width: 100%;
  height: 100%;
  background: #9DB2BF;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: -1;
  transition: all .2s linear;
}

.button4:hover:after{
  top: -9px;
  right: -9px;
}

.maxWidth{
  max-width: 1920px;
}


.page-header{
  background-image: url(/src/assets/liquid-cheese1-svg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}